__pycache__
# Terraform & Packer
packer/variables*.json
packer/upload
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
# Ansible
*.retry
jdauphant.nginx
vault.key
venv
# Molecule
*.log
*.pyc
.molecule
.cache
.pytest_cache
.yamllint
# Vagrant
.vagrant
