__pycache__
# Terraform & Packer
packer/variables*.json
packer/upload
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
# Ansible
*.retry
vault.key
venv
# Molecule
*.log
*.pyc
.molecule
.cache
.pytest_cache
# Vagrant
.vagrant
# External roles
ansible/roles/aarkhang.db
ansible/roles/jdauphant.nginx
