[Unit]
Description=Reddit web service
After=network.target

[Service]
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma
PIDFile=/var/run/puma.pid
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
