project = "your-project-here"
region  = "europe-west4"
zone  = "europe-west4-b"
machine_type="f1-micro"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
enable_deploy = false
name_suffix = "-s"
